@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.navbar-fixed {
  @apply fixed z-[9999] backdrop-blur-sm;
  background-color: rgb(255 255 255 / 70%); 
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.dark .navbar-fixed {
  background-color: oklch(20.8% 0.042 265.755 / 60%); 
}

.humburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-dark dark:bg-white;
}

.humburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.humburger-active > span:nth-child(2) {
  @apply scale-0;
}

.humburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

#dark-toggle:checked ~ label div.toggle-circle {
  @apply translate-x-3;
}
